*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color:rgb(251, 195, 131);
}

.calculator{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
    margin: 20px;
}
.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row{
    display: flex;
    flex: 1;

}

#show{
    width: 300px;
    height:auto;
    padding: 10px;
    border: 3px solid rgb(8, 8, 8);
    background-color: rgb(218, 209, 209);
    word-wrap: break-word;
    /* overflow: scroll; */
}
button{
    height: 100%;
    width: 100%;
    font-weight: 800;
    background-color:rgb(129, 120, 120);
}